.product {
  border-bottom: 1px solid lightgray;
  display: flex;
  margin: 5px;
}
.product-image {
  margin: 10px;
  width: 50%;
}
.product-description {
  margin: 10px;
}
.feature {
  font-weight: 700;
}
.myli {
  font-weight: 400;
}
